{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="form-div">
        <h1 class="home-heading">Reception Page</h1>
        <form action="choose_path" method="get" class="index-form" >
            <input type="text" placeholder="Please enter your name :" class="form-input"> <br>
            <input type="email" placeholder="Enter your email :" class="form-input"> <br>
            <input type="tel" placeholder="Enter Your Contact Number" class="form-input"> <br>
            <input type="text" placeholder="Enter the name of the person you want to meet" class="form-input"> <br> 
            <input type="text" placeholder="Reason to meet the person" class="form-input"> <br>
            <input type="submit" value="Start" class='submit-btn'>
        </form>
    </div>
</body>
</html>